@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

.http .field-list {
    margin-bottom: 0;
}

.http .field-list > dt {
    padding-left: 0 !important;
}

.http .code-block-caption {
    text-align: left;
    padding: .5em 1em;
    border: 1px solid #e1e4e5;
    margin-bottom: -2px;
    background: #f8f8f8;
    display: inline-block;
    font-style: normal;
    border-top-left-radius: .3em;
    border-top-right-radius: .3em;
}

.http div.highlight-js {
    border-top-right-radius: .3em;
    border-bottom-left-radius: .3em;
    border-bottom-right-radius: .3em;
    font-size: 12px;
    font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
}

code.docutils {
    border-radius: 0.3em;
}

code.docutils * {
    font-size: 12px;
    font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
}
.code-block-caption * {
    font-size: 12px;
    font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
    font-weight: bold;
}
.highlight-js *,
.highlight-json * {
    font-size: 12px;
    font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
}